header.header(data-animation itemscope="itemscope" itemtype="https://schema.org/WPHeader")
  .container
    .header__container
      a(href="index.html" itemscope="" itemtype="https://schema.org/Brand").header__logo.logo
        img.image-contain(src="images/logo/logo.svg", alt="эвакуатор спб logo")
      .header__nav
        include ../blocks/navigation
      +phone("26px")
      include ../blocks/burger
  