$white:rgb(255, 255, 255);
$black: #1A1A18;

//colors
$red: #E62B32;
$gray-light:#EEEDED;
$gray:#404040;


//font size
$font-size-S: 14px;
$font-size-M: 16px;
$font-size-L: 24px;
$font-size-XL: 36px;


$font-family: 'Manrope', sans-serif;

//z-index
$z-index-header:  1000;
$header-height: 75px;

$line-h: 2px;

//media
$desktop: 1200px; 
$tablet: 1024px; 
$mini-tablet: 768px; 
$mobile: 480px; 
$mini-mobile: 360px; 

$main-shadow:
    0 80px 80px -20px rgba(154, 156, 165, 0.08),
    0 30px 24px -10px rgba(154, 156, 165, 0.05),
    0 12px 10px -6px rgba(154, 156, 165, 0.04),
    0 4px 4px -4px rgba(30, 33, 44, 0.03);