.calculating {
    &__title {
        width: 50%;
    @include breakpoint($desktop) {
        width: 100%;
        text-align: center;
        }
    }
    &__inner {
        @include breakpoint($desktop) {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &__subtitle {
        margin-bottom: 50px;
        color: $white;
        font-weight: 700;
        span {
            color: $red;
            font-weight: 700;
        }
    }
    &__cars {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
        @include breakpoint($desktop) {
            justify-content: center;
        }
    }

    &__choose {
        display: flex;
        @include breakpoint($mini-tablet) {
            flex-direction: column;
        }
    }

    &__choose-item {
        display: flex;
        align-items: center;
        justify-content: right;
        width: 250px;
        height: 100px;
        margin-right: 30px;
        margin-bottom: 50px;
        padding-right: 20px;
        border: $line-h solid $gray;
        background: $black;
        background-position: left;
        background-repeat: no-repeat;
        background-size: 60%;
        background-position-x: -50px;
        text-align: right;
        color: $gray-light;
        cursor: pointer;
        transition: .3s all;
        &:hover {
            background-position-x: -30px;
        }
        @include breakpoint($mini-tablet) {
            margin-right: 0px;
            margin-bottom: 20px;
        }
    }

    &__choose-item_active {
        color: $white;
        background-color: $red;
        background-position-x: -30px;
    }

    &__insert {
        display: flex;
        justify-content: space-between;
        margin-bottom: 50px;
        border-bottom: $line-h solid $gray;
        border-top: $line-h solid $gray;
        margin-bottom: 50px;
        @include breakpoint($tablet) {
            flex-direction: column;
            border: none;
            width: 100%;
        }
    }
    &__box {
        position: relative;
        width: 320px;
        padding: 70px 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include breakpoint($tablet) {
            border-bottom: $line-h solid $gray;
            border-top: $line-h solid $gray;
            width: 100%;
            padding: 50px 0px;
            &:not(:last-child) {
                margin-bottom: 30px;
            }
        }
        &:after {
            content: "";
            position: absolute;
            top: 0;
            right: 50%;
            margin: 0 -1px;
            width: $line-h;
            height: 30px;
            background: $gray;
            @include breakpoint($tablet) {
                height: 15px;;
            }
        }
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            right: 50%;
            margin: 0 -1px;
            width: $line-h;
            height: 30px;
            background: $gray;
            @include breakpoint($tablet) {
                height: 15px;
            }
        }
    }

    &__steering {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        padding-left: 50px;
        @include breakpoint($tablet) {
            align-items: center;
        }
    }

    &__box-subtitle {
        margin-bottom: 30px;
    }

    &__input-kilo {
        width: 200px;
        height: 50px;
        padding: 5px;
        text-align: center;
        background: $black;
        color: $white;
        outline: none;
        border: $line-h solid $white;
    }

    &__checkbox {
        display: none;
    }
    
    &__checkbox:checked + .calculating__label::after {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    
    &__label {
        display: inline-flex;
        width: 100%;
        align-items: center;
        position: relative;
        cursor: pointer;
        &:not(:last-child) {
            margin-bottom: 10px;
        }
        @include breakpoint($tablet) {
            width: 250px;
        }
    }
    
    &__label:before {
        content: "";
        align-self: center;
        flex: 0 0 17px;
        height: 17px;
        background-color: $black;
        border: 1px solid $red;
        margin-right: 10px;
    }
    
    &__label:after {
        content: "";
        position: absolute;
        top: 3px;
        left: 0;
        width: 17px;
        height: 17px;
        background: $red;
        transform: scale(0);
        transition: transform .3s ease;
    }  

    &__counter {
        display: flex;
        justify-content: center;
    }

    &__counter-item {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        font-size: 35px;
        font-weight: 700;
        color: $red;
    }

    &__sign {
        cursor: pointer;
    }
    
    &__total {
        width: 50%;
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
        margin-bottom: 20px;
        @include breakpoint($desktop) {
            width: 100%;
        }
    }
    &__result {
        font-size: $font-size-L;
        font-weight: 700;
        color: $white;
    }
    &__note {
        width: 50%;
        font-size: 12px;
        text-align: left;
        @include breakpoint($desktop) {
            width: 100%;
        }
        a {
            color: $red;
            font-weight: 700;
            margin-left: 5px;
            cursor: pointer;
        }
    }
}

#moto {
    background-image: url("./images/calculator/moto.png");
}

#light-car {
    background-image: url("./images/calculator/light.png");
}

#cross {
    background-image: url("./images/calculator/cross.png");
}

#jip {
    background-image: url("./images/calculator/jeep.png");
}

#minivan {
    background-image: url("./images/calculator/minivan.png");
}

#special {
    background-image: url("./images/calculator/minitech.png");
    background-size: 50%;
}

#van {
    background-image: url("./images/calculator/minibus.png");
}

#truck {
    background-image: url("./images/calculator/truck.png");
}

#day {
    background-image: url("./images/calculator/day.svg");
    background-size: 50%;
}

#night {
    background-image: url("./images/calculator/night.svg");
    background-size: 50%;
}






