.howto {
  &__title {
    width: 50%;
    @include breakpoint($desktop) {
      width: 100%;
      text-align: center;
    }
  }
  &__steps {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @include breakpoint($tablet) {
      width: 100%;
      display: flex;
      flex-wrap: nowrap;
      overflow-x: auto;
      scroll-snap-type: x mandatory;
      //need to reboot sometime
    }
  }
  &__step {
    width: 49%;
    padding: 30px;
    margin-bottom: 20px;
    position: relative;
    @include breakpoint($tablet) {
      flex: 0 0 80%;
      margin-right: 20px;
      scroll-snap-align: start;
      border: $line-h solid $gray;
    }
    @include breakpoint($mini-tablet) {
      flex: 0 0 90%;
      padding: 20px;
    }
    &-border {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      @include breakpoint($tablet) {
        display: none;
      }
      &-line {
        position: absolute;
        background: $gray;
        &:nth-child(1) {
          top: 0;
          left: 0;
          width: 70%;
          height: $line-h;
        }
        &:nth-child(2) {
          bottom: 0;
          right: 0;
          width: 70%;
          height: $line-h;
        }
        &:nth-child(3) {
          bottom: 0;
          left: 0;
          height: 70%;
          width: $line-h;
        }
        &:nth-child(4) {
          top: 0;
          right: 0;
          height: 70%;
          width: $line-h;
        }
      }
      &.scroll-animation {
        li {
          &:nth-child(1) {
            @include animation-draw-line-hor(1s);
          }
          &:nth-child(2) {
            @include animation-draw-line-hor(1s);
          }
          &:nth-child(3) {
            @include animation-draw-line-vert(1s);
          }
          &:nth-child(4) {
            @include animation-draw-line-vert(1s);
          }
        }
      }
    }
  }
  &__picture {
    width: 49%;
    height: 285px;
    margin-bottom: 20px;
  }
  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }
  &__icon {
    width: 50px;
    height: 50px;
    margin-right: 25px;
  }
  &__caption {
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
  }
  &__text {
    margin-bottom: 10px;
  }
  &__list {
    position: relative;
    z-index: 2;
    @include breakpoint($mini-tablet) {
      padding-left: 12px;
    }
    &-item {
      margin-bottom: 5px;
      a {
        color: $red;
        font-weight: 700;
      }
    }
  }
}