.prices {
  &.start-animation {
    @include animation-fade-in(1s, 2s);
  }
  &__container {
    display: flex;
    @include breakpoint($tablet) {
      flex-direction: column;
      align-items: center;
    }
  }
  &__title {
    width: 50%;
    @include breakpoint($desktop) {
      width: 100%;
      text-align: center;
    }
  }
  &__content {
    width: 50%;
    @include breakpoint($desktop) {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.pricelist {
  margin-bottom: 50px;
  @include breakpoint($desktop) {
    width: 100%;
  }
  @include breakpoint($mini-tablet) {
    margin-bottom: 20px;
    // max-height: 50%;
    // transform: scaleY(1);
    overflow: hidden;
  }
  
  transition: all 0.5s linear;
  // &.opened {
  //   max-height: 100%;
  // }
  &__item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;
    &-border {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 70%;
      height: $line-h;
      background: $gray;
      &.scroll-animation {
        @include animation-draw-line-hor(0.5s);
      }
    }
    p:first-child {
      @include breakpoint($mini-tablet) {
        width: 70%;
      }
    }
  }
}