.roadhelp {
  display: flex;
  &__container {
    width: 50%;
    padding-right: 30px;
    &--right {
      padding-left: 30px;
      padding-right: 0px;
      display: flex;
      align-items: center;
      img {
        margin-right: 30px;
        @include animation-levitate-horisontal(1s);
      }
    }
  }
  &__title {
    text-align: left;
  }
  &__text {
    text-align: right;
    font-size: $font-size-L;
    font-weight: 700;
  }
}