.header {
  padding-top: 10px;
  &__container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logo {
    margin-bottom: 15px;
  }
  &.start-animation {
    @include animation-fade-in(1s, 1.9s);
  }
  .nav__link-home {
    display: none;
  }
  .nav {
    display: flex;
    @include breakpoint($tablet) {
      display: none;
    }
  }
}