.burger 
  .burger__line
  .burger__line
.burger__menu
  nav.burger__nav(itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement")
    ul
      li
        a(href="#prices") Услуги и цены
      li
        a(href="#calculating") Калькулятор
      li
        a(href="#contacts") Контакты