nav
  ul.nav.list-reset
    li.nav__item
      a(href="index.html").nav__link.nav__link-home Главная
    li.nav__item
      a(href="#pricelist").nav__link Услуги и цены
    li.nav__item
      a(href="#calculator").nav__link Калькулятор
    li.nav__item
      a(href="#contacts").nav__link Контакты
